#cookie-law-info-bar {
  position: fixed;
  display: block;
  z-index: 9999;
  bottom: 15px !important;
  left: 15px;
  width: calc(100% - 20px);
  max-width: 470px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  padding: 0;
  margin: 0 auto;

  & > span {
    display: block;
    padding: 0;
    text-align: left;
    @include font-style($font1, 0.875rem, 150%);
  }

  .cli_messagebar_head {
    padding: 10px 20px;
    margin: 0;
    text-align: left !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @include font-style($font1, 1.25rem, 150%, $color1, 700);
  }

  .text-part {
    display: block;
    padding: 15px 20px;
  }

  .buttons {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    a {
      flex-basis: calc(100% / 3);
      margin: 0;
      padding: 15px 0;
      //@include font-configuration($font1, 0.875rem, 150%, $color1, 400);
      text-align: center;
      background: none !important;
      @include font-style($font1, 0.875rem, 150%);

      &:hover {
        background: #f7f7f7 !important;
      }

      &#cookie_action_close_header_reject {
        color: #e18181 !important;
      }

      &#cookie_action_close_header {
        color: #307913 !important;
        font-weight: 700;
      }

      &.cli_settings_button {
        flex-basis: calc((100% / 3) - 2px);
        border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
        color: $color1 !important;
      }
    }
  }
}

.cli-modal {
  position: fixed;
  display: none;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 570px;
  height: auto;
  outline: 0;

  &.cli-show {
    display: block;
  }
}

.cli-modal-dialog {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  background: $color0;
  outline: 0;
}

.cli-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  outline: 0;
  transform: translate(0, 0) rotate(0);
  transition: all 450ms cubic-bezier($bezier);
  cursor: pointer;

  &:hover {
    transform: translate(0, 0) rotate(90deg);
  }

  img,
  svg {
    display: block;
    width: 25px;
  }

  .wt-cli-sr-only {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }
}

.cli-settings-overlay {
  position: fixed;
  display: none;
  z-index: 9998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  transition: all 450ms cubic-bezier($bezier);

  &.cli-show {
    display: block;
    transform: translate(-50%, -50%) scale(1);
  }
}

.cli-privacy-overview {
  margin: 15px 0;

  h4 {
    margin: 0;
    padding: 0;
    @include font-style($font1, 1.25rem, 110%, $color1, 400);

    &:after {
      content: "";
      display: block;
      width: 65px;
      height: 1px;
      background: $color1;
      margin: 15px 0;
    }
  }

  .cli-privacy-content-text {
    @include font-style($font1, 0.875rem, 145%, $color1, 400);
  }

  .cli-privacy-readmore {
    display: none;
  }
}

.cli-tab-section {
  margin-bottom: 15px;

  .cli-tab-header {
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    background: #f5f5f5;

    &.cli-tab-active {
      .cli-nav-link {
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }

    .cli-nav-link {
      position: relative;
      display: inline-block;
      padding-left: 15px;
      @include font-style($font1, 0.9375rem, 100%, $color1, 400);

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 5px;
        height: 5px;
        border-bottom: 1px solid $color1;
        border-right: 1px solid $color1;
        transition: all 450ms cubic-bezier($bezier);
      }
    }

    .cli-necessary-caption {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate(0, -50%);
      opacity: 0.5;
      @include font-style($font1, 0.75rem, 100%, $color1, 400);
    }

    .cli-switch {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate(0, -50%);
      height: 25px;
      padding-left: 50px;
      font-size: 14px;

      .wt-cli-sr-only {
        opacity: 0;
        pointer-events: none;
        position: absolute;
      }

      input[type="checkbox"] {
        display: none;
      }

      input:checked + .cli-slider {
        background-color: #00acad;
      }

      input:checked + .cli-slider:before {
        transform: translateX(26px);
      }

      .cli-slider {
        border-radius: 34px;
        background-color: #e3e1e8;
        height: 24px;
        width: 50px;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;

        &:before {
          border-radius: 50%;
          background-color: #fff;
          bottom: 2px;
          content: "";
          height: 20px;
          left: 2px;
          position: absolute;
          transition: 0.4s;
          width: 20px;
        }
      }
    }
  }

  .cli-tab-content {
    display: none;
    padding: 10px 15px;

    p {
      @include font-style($font1, 0.875rem, 145%);
    }
  }
}
/**
 * Responsive rules
 */
@include breakpoint(small only) {
  #cookie-law-info-bar {
    width: calc(100% - 20px);
    left: 10px;
  }
}
