.picture-container {
  &.to-resize {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    overflow: hidden;

    &.resized picture {
      opacity: 1;
    }

    picture {
      position  : absolute;
      display   : block;
      top       : 50%;
      left      : 50%;
      transform : translateY(-50%) translateX(-50%);
      width     : auto;
      height    : auto;
      min-height: 100%;
      min-width : 100%;
      opacity   : 0;
      transition: all 150ms ease-out;

      & img {
        max-width: 200%;
      }
    }
  }

  &.with-lazy {
    &.lazy-loaded {
      picture {
        opacity: 1;
      }

      .loader-container {
        display: none;
      }
    }

    picture {
      opacity: 0;
    }
  }
}