{% extends "base.twig" %}

{% block content %}
    <img
        id="test-image"
        data-src="http://via.placeholder.com/1900x950"
        class="lazy">
    <hr>

    <div class="test-image">
        <div class="picture-container to-resize with-lazy">
            <picture>
                <img
                    id="test-image-to-resize"
                    class="picture test test2"
                    data-src="http://via.placeholder.com/1900x950">
            </picture>
        </div>
    </div>

    <div class="test-image">
        <div class="picture-container to-resize with-lazy">
            <picture>
                <img
                    id="test-image-to-resize-2"
                    data-src="http://via.placeholder.com/1900x950">
            </picture>
        </div>
    </div>
{% endblock %}
